<template>
  <button class="c-ButtonComponent" :style="colorStyle" @click="$emit('click')">
    <slot></slot>
  </button>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class ButtonComponent extends Vue {
  @Prop({ default: 'rgba(24, 156, 0, 1)' }) color?: string;

  get colorStyle(): any {
    return {
      'background-color': this.color,
    };
  }
}
</script>

<style lang="scss" scoped>
  @import "ButtonComponent";
</style>

