<template>
  <div class="error">
    <div>
      <h1>404</h1>
      <h2>Page not found</h2>
    </div>
  </div>
</template>
<style>
  .error {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
</style>
