<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <section class="c-Movie" v-if="getActiveMovie">
    <img :src="`https://image.tmdb.org/t/p/w780/${getActiveMovie.backdrop_path}`"
         :alt="getActiveMovie.original_title"
         class="large-image">
    <div class="movie-info">
      <h1>{{getActiveMovie.original_title}}</h1>
      <ul class="movie-details-list">
        <li>Genres: {{getGeneres.join(', ')}}</li>
        <li>Vote average: {{getActiveMovie.vote_average}}</li>
        <li>Vote count: {{getActiveMovie.vote_count}}</li>
        <li>Release date: {{getActiveMovie.release_date}}</li>
        <li>Language: {{getActiveMovie.original_language}}</li>
      </ul>
      <expandable @isOpened="expandableChange">
        <template v-slot:title>{{expandableTitle}}</template>
        <p class="movie-details-overview">{{getActiveMovie.overview}}</p>
      </expandable>
    </div>
  </section>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {Getter} from 'vuex-class';
import Expandable from '@/components/Expandable/Expandable.vue';
import {movieGenres} from '@/shared/data';
import {Movie} from '@/models/models';

@Component({
  components: {
    Expandable,
  },
})
export default class MovieDetails extends Vue {
  @Getter getActiveMovie!: Movie | null;
  isExpandableOpened = false;

  get getGeneres(): string[] {
    const movie: Movie | null = this.getActiveMovie;
    const movieGenresIds: number[] = (movie && movie.genre_ids) ? JSON.parse(JSON.stringify(movie.genre_ids)) : [];
    if (movieGenresIds.length) {
      return movieGenresIds.map((id) => movieGenres[id]);
    }
    if (movie && movie.genres) {
      return movie.genres.map((genre) => genre.name);
    }
    return [];
  }

  get expandableTitle(): string {
    return `${this.isExpandableOpened ? 'Close' : 'Open' } movie overview`;
  }

  expandableChange(isOpened: boolean): void {
    this.isExpandableOpened = isOpened;
  }
}
</script>

<style lang="scss" scoped>

  .c-Movie {
    background: black;
    color: white;
  }

  .large-image {
    max-width: 780px;
    width: 100%;
    height: auto;
  }

  .movie-info {
    width: 100%;
    text-align: center;
    max-width: 780px;
    margin: auto;
  }

  .movie-details-list {
    list-style: none;
    margin: 10px;
    text-align: left;

    li {
      margin: 10px 0;
      font-weight: 600;
      font-size: 20px;
    }
  }

  .movie-details-overview {
    font-size: 18px;
    line-height: 1.3em;
    padding: 15px;
    box-sizing: border-box;
  }

  /deep/ .expandable-button.active + .expandable-panel {
    height: 17em;
  }
</style>
