<template>
  <section class="c-Expandable">
    <button
      class="expandable-button"
      :class="{'active':  isOpened}"
      @click="toggleExandable()">
      <slot name="title"></slot>
      <img class="accordion__arrow-img"
           src="@/assets/arrow-down@2x.png" alt="arrow icon">
    </button>
    <div class="flex-center expandable-panel">
      <slot></slot>
    </div>
  </section>
</template>

<script lang="ts">
import {Component, Emit, Vue} from 'vue-property-decorator';

@Component
export default class Expandable extends Vue {
  isOpened = false;

  @Emit('isOpened')
  toggleExandable(): boolean {
    return this.isOpened = !this.isOpened;
  }
}
</script>

<style lang="scss" scoped>
  @import "Expandable";
</style>
