<template>
  <div id="app">
    <nav>
      <router-link :to="'/'">Movies</router-link>
      <router-link :to="'/favourite'">Favourite ({{numberOfSelectedMovies}})</router-link>
    </nav>
    <router-view/>
  </div>
</template>
<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {Getter} from 'vuex-class';
import {Movie} from '@/models/models';

@Component
export default class App extends Vue {
  @Getter getSelectedMovies!: Movie[];

  get numberOfSelectedMovies() {
    return this.getSelectedMovies.length;
  }
}
</script>

<style lang="scss">
  @import 'scss/main';

  body {
    background: black;
  }

  html {
    overflow-y: scroll;
  }

  #app {
    font-family: $body-font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    max-width: 1200px;
    margin: auto;
  }

  nav {
    padding: 30px;

    a {
      font-weight: bold;
      font-size: 16px;
      color: white;
      margin: 10px;

      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }
</style>
